* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------------------------------------------------------------------------------------*/

.main__title {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
  top: 75px;
}

.containers__box {
  display: flex;
  justify-content: center;
  position: relative;
  top: 125px;
}

.container {
  border: 2px solid black;
  margin-left: 20px;
  background-color: gray;
}

.container-sm {
  border: 2px solid black;
  margin-left: 20px;
  background-color: gray;
}

.container-lg {
  border: 2px solid black;
  margin-left: 20px;
  background-color: gray;
  display: none;
}

.container-mid {
  border: 2px solid black;
  margin-left: 20px;
  background-color: gray;
  display: none;
}

.title__box {
  float: right;
  border: 2px solid black;
  width: 120px;
  letter-spacing: 2px;
  text-align: center;
  background-color: beige;
  font-family: sans-serif;
  padding: 2px 0;
}

